/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
img {
  display: inline-block;
  backface-visibility: hidden;
  image-rendering: auto;
}
a {
  display: inline-block;
  cursor: pointer;
}
input,
textarea {
  outline: none;
}
.g-col {
  color: #007481;
}
.g-bg-col {
  background-color: #007481;
}
.f-col {
  color: #fff;
}
.f-bg-col {
  background-color: #fff;
}
html {
  font-family: Pretendard, sans-serif;
  scroll-behavior: smooth;
}
@media screen and (max-width: 800px) {
  .mo {
    display: inline-block;
  }
  .web {
    display: none;
  }
  .container .wrap {
    overflow: hidden;
  }
  .container .wrap.scr-dwn header {
    background: #ffffff;
  }
  .container .wrap.scr-dwn header h1 a {
    background-repeat: no-repeat;
    background-image: url('../img/mo/logo-b.svg');
    background-size: contain;
  }
  .container .wrap.scr-dwn header .menu-btn span {
    background-color: #000;
  }
  .container .wrap header {
    width: 100%;
    height: 13.33333333vw;
    text-align: left;
    padding-left: 5.55555556vw;
    box-sizing: border-box;
    zoom: 1;
    position: fixed;
    z-index: 5;
    background: rgba(255, 255, 255, 0);
    transition: all 0.2s;
    transition-delay: 0.1s;
  }
  .container .wrap header:after {
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  .container .wrap header h1 {
    height: 13.33333333vw;
    display: inline-block;
    vertical-align: middle;
    z-index: 5;
  }
  .container .wrap header h1 a {
    background-repeat: no-repeat;
    background-image: url('../img/mo/logo-w.svg');
    background-size: contain;
    width: 14.44444444vw;
    height: 4.44444444vw;
    margin-top: 4.44444444vw;
  }
  .container .wrap header .menu-btn {
    float: right;
    width: 16.66666667vw;
    height: 13.33333333vw;
    box-sizing: border-box;
    text-align: center;
    z-index: 5;
  }
  .container .wrap header .menu-btn span {
    width: 5.55555556vw;
    height: 0.27777778vw;
    background-color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 5.55555556vw;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    transform-origin: left center;
    pointer-events: none;
  }
  .container .wrap header .menu-btn span:nth-child(1) {
    top: 5vw;
  }
  .container .wrap header .menu-btn span:nth-child(2) {
    top: 6.66666667vw;
  }
  .container .wrap header .menu-btn span:nth-child(3) {
    top: 8.33333333vw;
  }
  .container .wrap header.open {
    background: #ffffff;
  }
  .container .wrap header.open h1 a {
    background-repeat: no-repeat;
    background-image: url('../img/mo/logo-b.svg');
    background-size: contain;
  }
  .container .wrap header.open .menu-btn {
    padding-top: 3.88888889vw;
  }
  .container .wrap header.open .menu-btn span {
    background-color: #000;
  }
  .container .wrap header.open .menu-btn span:nth-child(1) {
    transform: rotate(45deg);
    right: 5.55555556vw;
    top: 4.72222222vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap header.open .menu-btn span:nth-child(2) {
    width: 0vw;
    opacity: 0;
  }
  .container .wrap header.open .menu-btn span:nth-child(3) {
    transform: rotate(-45deg);
    right: 5.55555556vw;
    top: 8.61111111vw;
    left: auto;
    bottom: auto;
  }
  transf.container .wrap header.open .menu-btn span:nth-child(3):hover {
    background-repeat: no-repeat;
    background-image: url('../img/pc/ico-scr-g.svg');
    background-size: contain;
  }
  .container .wrap .menu-wrap {
    text-align: left;
    padding-left: 5.55555556vw;
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    height: 0vw;
    position: fixed;
    left: 0vw;
    top: 13.33333333vw;
    right: auto;
    bottom: auto;
    z-index: 3;
    transition: all 0.2s;
    transition-delay: 0.1s;
  }
  .container .wrap .menu-wrap .menu-inner {
    position: relative;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 0.3s;
  }
  .container .wrap .menu-wrap .menu-inner .depth1 > li {
    margin-top: 9.72222222vw;
    display: block;
  }
  .container .wrap .menu-wrap .menu-inner .depth1 > li a {
    font-size: 5vw;
    line-height: 5vw;
    font-weight: 800;
    letter-spacing: -0.01em;
    width: 100%;
    height: 100%;
  }
  .container .wrap .menu-wrap .menu-inner .depth1 > li .depth2 {
    margin-top: 2.77777778vw;
  }
  .container .wrap .menu-wrap .menu-inner .depth1 > li .depth2 li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5.55555556vw;
  }
  .container .wrap .menu-wrap .menu-inner .depth1 > li .depth2 li:last-child {
    margin-right: 0vw;
  }
  .container .wrap .menu-wrap .menu-inner .depth1 > li .depth2 li a {
    font-size: 5vw;
    line-height: 7vw;
    color: #868686;
    font-weight: 300;
  }
  .container .wrap .menu-wrap .menu-inner .m-bottom {
    margin-top: 16.66666667vw;
  }
  .container .wrap .menu-wrap .menu-inner .m-bottom .ins {
    width: 6.66666667vw;
    height: 6.66666667vw;
    margin-right: 5.55555556vw;
    background-repeat: no-repeat;
    background-image: url('../img/mo/ico-ins.svg');
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
  }
  .container .wrap .menu-wrap .menu-inner .m-bottom .lang-wrap {
    font-size: 0vw;
    display: inline-block;
    vertical-align: middle;
  }
  .container .wrap .menu-wrap .menu-inner .m-bottom .lang-wrap a {
    font-size: 5vw;
    line-height: 7vw;
    font-weight: 300;
    color: #868686;
    margin-right: 5.55555556vw;
  }
  .container .wrap .menu-wrap .menu-inner .m-bottom .lang-wrap a:last-child {
    margin-right: 0vw;
  }
  .container .wrap .menu-wrap .menu-inner .m-bottom .lang-wrap a.on {
    color: #000;
  }
  .container .wrap .menu-wrap.open {
    height: calc(100% - 13.333vw);
    display: block;
  }
  .container .wrap .menu-wrap.open .menu-inner {
    opacity: 1;
  }
  .container .wrap nav {
    display: none;
  }
  .container .wrap article {
    z-index: 1;
    background-color: #fff;
  }
  .container .wrap article .splash {
    width: 100%;
    background-color: #007481;
    position: fixed;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    z-index: 30;
    transition: opacity 0.5s;
  }
  .container .wrap article .splash video {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    z-index: 30;
  }
  .container .wrap article .splash.out {
    opacity: 0;
  }
  .container .wrap article section {
    padding-top: 16.11111111vw;
    padding-right: 5.55555556vw;
    padding-bottom: 25.55555556vw;
    padding-left: 5.55555556vw;
    box-sizing: border-box;
  }
  .container .wrap article section h2 {
    font-size: 6.66666667vw;
    line-height: 7.33333333vw;
    font-weight: 800;
    margin-bottom: 1.11111111vw;
  }
  .container .wrap article section .txt {
    font-size: 4.44444444vw;
    line-height: 6.22222222vw;
    letter-spacing: -0.015em;
    font-weight: 300;
    margin-bottom: 5.55555556vw;
  }
  .container .wrap article section .go-btn {
    font-size: 3.88888889vw;
    line-height: 5.05555556vw;
    letter-spacing: -0.01em;
    font-weight: 500;
  }
  .container .wrap article section .go-btn img {
    width: 7.22222222vw;
    height: 3.61111111vw;
    margin-left: 0.83333333vw;
    pointer-events: none;
  }
  .container .wrap article section.visual {
    height: 100vh;
    position: relative;
    overflow: hidden;
    max-height: 222.22222222vw;
  }
  .container .wrap article section.visual .v-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: 11.94444444vw;
    margin-right: 0vw;
    margin-bottom: 0vw;
    margin-left: -50%;
    z-index: 2;
  }
  .container .wrap article section.visual .v-inner p {
    text-align: left;
    padding-left: 5.55555556vw;
    box-sizing: border-box;
  }
  .container .wrap article section.visual .v-inner p:nth-child(1) {
    font-size: 5vw;
    line-height: 5.5vw;
    color: #fff;
    padding-left: 6.66666667vw;
    font-weight: 300;
    margin-bottom: 0.27777778vw;
  }
  .container .wrap article section.visual .v-inner p:nth-child(2),
  .container .wrap article section.visual .v-inner p:nth-child(3) {
    font-size: 11.11111111vw;
    line-height: 12.22222222vw;
    color: #007481;
    font-weight: 800;
  }
  .container .wrap article section.visual .v-inner p:nth-child(3) {
    font-size: 0vw;
    background-repeat: no-repeat;
    background-image: url('../img/mo/stage-aile.png');
    background-size: contain;
    width: 61.66666667vw;
    height: 8.33333333vw;
    margin-top: 1.94444444vw;
    margin-right: 0vw;
    margin-bottom: 0vw;
    margin-left: 5.55555556vw;
  }
  .container .wrap article section.visual .down {
    background-repeat: no-repeat;
    background-image: url('../img/mo/ico-scr-w.svg');
    background-size: contain;
    width: 19.44444444vw;
    height: 19.44444444vw;
    position: absolute;
    left: 5.55555556vw;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: 57.22222222vw;
    z-index: 2;
  }
  .container .wrap article section.visual .down:hover {
    background-repeat: no-repeat;
    background-image: url('../img/pc/ico-scr-g.svg');
    background-size: contain;
  }
  .container .wrap article section.visual .dim {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    background-color: #000;
    opacity: 0.7;
    z-index: 1;
  }
  .container .wrap article section.visual .vid.mo {
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    width: 100%;
  }
  .container .wrap article section.models .models-swiper {
    width: 88.88888889vw;
    height: 121.38888889vw;
    margin-bottom: 5.55555556vw;
  }
  .container .wrap article section.models .models-swiper .swiper-slide {
    height: 117.77777778vw;
  }
  .container .wrap article section.models .models-swiper .swiper-slide img {
    width: 100%;
  }
  .container .wrap article section.models .models-swiper .swiper-pagination {
    width: 100%;
    height: 0.83333333vw;
    text-align: left;
    position: absolute;
    left: 0vw;
    bottom: 0vw;
    right: auto;
    top: auto;
    display: flex;
  }
  .container .wrap article section.models .models-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 100%;
    height: 0.83333333vw;
    background-color: #868686;
    border-radius: 0vw;
    margin: 0vw;
    display: inline-block;
  }
  .container .wrap article section.models .models-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #007481;
  }
  .container .wrap article section.artists {
    padding-left: 0vw;
    padding-right: 0vw;
  }
  .container .wrap article section.artists h2,
  .container .wrap article section.artists .txt {
    padding-top: 0vw;
    padding-right: 5.55555556vw;
    padding-bottom: 0vw;
    padding-left: 5.55555556vw;
  }
  .container .wrap article section.artists .artists-swiper {
    width: 100%;
    height: 103.61111111vw;
    margin-bottom: 5.55555556vw;
  }
  .container .wrap article section.artists .artists-swiper .swiper-wrapper {
    -webkit-transition-timing-function: linear!important;
    -o-transition-timing-function: linear!important;
    transition-timing-function: linear!important;
  }
  .container .wrap article section.artists .artists-swiper .swiper-wrapper .swiper-slide {
    height: 100vw;
  }
  .container .wrap article section.artists .artists-swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
  }
  .container .wrap article section.artists .artists-swiper .swiper-pagination {
    width: 100%;
    height: 0.83333333vw;
    text-align: left;
    position: absolute;
    padding-top: 0vw;
    padding-right: 5.55555556vw;
    padding-bottom: 0vw;
    padding-left: 5.55555556vw;
    box-sizing: border-box;
    left: 0vw;
    bottom: 0vw;
    right: auto;
    top: auto;
    display: flex;
  }
  .container .wrap article section.artists .artists-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 100%;
    height: 0.83333333vw;
    background-color: #868686;
    border-radius: 0vw;
    margin: 0vw;
    display: inline-block;
  }
  .container .wrap article section.artists .artists-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #007481;
  }
  .container .wrap article section.artists .go-btn {
    padding-left: 5.55555556vw;
    box-sizing: border-box;
  }
  .container .wrap article section.stage h2 s {
    color: #007481;
  }
  .container .wrap article section.stage .stage-swiper .swiper-wrapper {
    display: block;
  }
  .container .wrap article section.stage .stage-swiper .swiper-wrapper .swiper-slide {
    width: 88.88888889vw;
    height: 52.77777778vw;
    margin-bottom: 2.77777778vw;
  }
  .container .wrap article section.stage .stage-swiper .swiper-wrapper .swiper-slide img.mo {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  .container .wrap article section.stage .stage-swiper .swiper-wrapper .swiper-slide img.web {
    display: none;
  }
  .container .wrap article section.stage .stage-swiper .swiper-wrapper .swiper-slide:last-child {
    margin-bottom: 5.55555556vw;
  }
  .container .wrap article.art-models {
    margin-top: 0vw;
  }
  .container .wrap article.art-models .visual {
    padding: 0vw;
    height: auto;
  }
  .container .wrap article.art-models .visual .visual-swiper {
    position: unset;
  }
  .container .wrap article.art-models .visual .visual-swiper .swiper-wrapper {
    -webkit-transition-timing-function: linear!important;
    -o-transition-timing-function: linear!important;
    transition-timing-function: linear!important;
  }
  .container .wrap article.art-models .visual .visual-swiper .swiper-slide img {
    width: 100%;
  }
  .container .wrap article.art-models .visual .visual-swiper .swiper-pagination {
    width: 41.66666667vw;
    height: 0.55555556vw;
    text-align: left;
    position: absolute;
    left: 5.55555556vw;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: 65%;
    border-radius: 0vw;
    display: flex;
  }
  .container .wrap article.art-models .visual .visual-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 100%;
    height: 0.55555556vw;
    background-color: #fff;
    border-radius: 0vw;
    margin: 0vw;
    display: inline-block;
  }
  .container .wrap article.art-models .visual .v-inner {
    position: absolute;
    left: 5.55555556vw;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-top: 17%;
    margin-left: 0vw;
    z-index: 1;
    pointer-events: none;
  }
  .container .wrap article.art-models .visual .v-inner p {
    color: #fff;
    text-align: left;
  }
  .container .wrap article.art-models .visual .v-inner p:nth-of-type(1) {
    font-size: 11.11111111vw;
    line-height: 12.22222222vw;
    font-weight: 800;
    margin-bottom: 2.77777778vw;
    padding-left: 0vw;
  }
  .container .wrap article.art-models .visual .v-inner p:nth-of-type(1) s {
    color: #007481;
  }
  .container .wrap article.art-models .visual .v-inner p:nth-of-type(2) {
    font-size: 4.44444444vw;
    line-height: 5.77777778vw;
    font-weight: 300;
    letter-spacing: -0.01em;
    padding-left: 0vw;
    color: #fff;
  }
  .container .wrap article.art-models.art-female .visual {
    margin-top: 18.88888889vw;
    margin-right: 0vw;
    margin-bottom: 0vw;
    margin-left: 5.55555556vw;
  }
  .container .wrap article.art-models.art-female .visual .visual-swiper .swiper-slide {
    width: 68.61111111vw;
    height: 137.22222222vw;
  }
  .container .wrap article.art-models.art-female .visual .visual-swiper .swiper-slide img {
    width: 68.61111111vw;
    height: 137.22222222vw;
  }
  .container .wrap article.art-models.artists-dep section {
    margin-bottom: 38.88888889vw;
    padding-top: 0vw;
    padding-right: 5.55555556vw;
    padding-bottom: 0vw;
    padding-left: 5.55555556vw;
  }
  .container .wrap article.art-models.artists-dep section.visual {
    padding: 0vw;
  }
  .container .wrap article.art-models.artists-dep section.visual .visual-swiper {
    width: 100vw;
    height: 141.94444444vw;
    position: relative;
    margin-bottom: 10.55555556vw;
  }
  .container .wrap article.art-models.artists-dep section.visual .visual-swiper .swiper-pagination {
    top: auto;
    bottom: 0vw;
    margin-top: 0vw;
  }
  .container .wrap article.art-models.artists-dep section.visual .visual-swiper .swiper-pagination .swiper-pagination-bullet {
    background-color: #868686;
  }
  .container .wrap article.art-models.artists-dep section.visual .visual-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #007481;
  }
  .container .wrap article.art-models.artists-dep section.visual .v-inner {
    position: relative;
    top: auto;
    margin-top: 0vw;
  }
  .container .wrap article.art-models.artists-dep section.visual .v-inner p {
    color: #000;
  }
  .container .wrap article.art-models.actors-dep {
    margin-top: 13.33333333vw;
  }
  .container .wrap article.art-models.actors-dep section {
    margin-bottom: 22.22222222vw;
  }
  .container .wrap article.art-models.actors-dep section.visual {
    height: 135.83333333vw;
  }
  .container .wrap article.art-models.actors-dep section.visual .vid {
    width: 101%;
  }
  .container .wrap article.art-models.actors-dep section.actors {
    margin-bottom: 5.55555556vw;
    padding-top: 0vw;
    padding-right: 5.55555556vw;
    padding-bottom: 0vw;
    padding-left: 5.55555556vw;
  }
  .container .wrap article .list {
    font-size: 0vw;
  }
  .container .wrap article .list li {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0vw;
    margin-right: 2.77777778vw;
    margin-bottom: 3.33333333vw;
    margin-left: 0vw;
    position: relative;
  }
  .container .wrap article .list li:nth-child(even) {
    margin-right: 0vw;
  }
  .container .wrap article .list li.on:after {
    content: '';
    display: block;
    width: 43.05555556vw;
    height: 43.05555556vw;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    background: rgba(0, 116, 129, 0.5);
  }
  .container .wrap article .list li a {
    width: 100%;
    height: 100%;
  }
  .container .wrap article .list li a img {
    width: 43.05555556vw;
    height: 43.05555556vw;
    margin-bottom: 1.11111111vw;
  }
  .container .wrap article .list li a .name {
    font-size: 3.33333333vw;
    line-height: 4.33333333vw;
    letter-spacing: -0.01em;
    font-weight: 500;
  }
  .container .wrap article.depth3 .visual {
    padding: 0vw;
    height: auto;
  }
  .container .wrap article.depth3 .visual .profile {
    text-align: left;
    margin-bottom: 2.77777778vw;
  }
  .container .wrap article.depth3 .visual .profile h2 {
    font-size: 8.33333333vw;
    line-height: 8.33333333vw;
    font-weight: 800;
    margin-bottom: 2.77777778vw;
  }
  .container .wrap article.depth3.model-depth3 {
    padding-top: 8.33333333vw;
    padding-right: 5.55555556vw;
    padding-bottom: 11.11111111vw;
    padding-left: 5.55555556vw;
    margin-top: 13.33333333vw;
  }
  .container .wrap article.depth3.model-depth3 .visual .profile {
    text-align: left;
    margin-bottom: 2.77777778vw;
  }
  .container .wrap article.depth3.model-depth3 .visual .profile h2 {
    font-size: 8.33333333vw;
    line-height: 8.33333333vw;
    font-weight: 800;
    margin-bottom: 2.77777778vw;
  }
  .container .wrap article.depth3.model-depth3 .visual .profile p {
    font-size: 3.88888889vw;
    line-height: 5.44444444vw;
    letter-spacing: -0.01em;
    font-weight: 300;
  }
  .container .wrap article.depth3.model-depth3 .visual .visual-swiper {
    width: 88.88888889vw;
    height: 133.33333333vw;
    margin-bottom: 3.05555556vw;
  }
  .container .wrap article.depth3.model-depth3 .visual .visual-swiper .swiper-slide img {
    width: 100%;
    height: 100%;
  }
  .container .wrap article.depth3.model-depth3 .visual .visual-swiper .swiper-pagination {
    width: 41.66666667vw;
    height: 0.55555556vw;
    text-align: left;
    position: absolute;
    left: 50%;
    bottom: 5.55555556vw;
    right: auto;
    top: auto;
    margin-left: -20.83333333vw;
    border-radius: 0vw;
    display: flex;
  }
  .container .wrap article.depth3.model-depth3 .visual .visual-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 100%;
    height: 0.55555556vw;
    background-color: #fff;
    border-radius: 0vw;
    margin: 0vw;
    display: inline-block;
  }
  .container .wrap article.depth3.model-depth3 .visual .go-btn {
    display: block;
    margin-top: 1.11111111vw;
  }
  .container .wrap article.depth3.model-depth3 .photo-book {
    padding-top: 10.27777778vw;
    padding-right: 0vw;
    padding-bottom: 0vw;
    padding-left: 0vw;
  }
  .container .wrap article.depth3.model-depth3 .photo-book ul {
    font-size: 0vw;
  }
  .container .wrap article.depth3.model-depth3 .photo-book ul li {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0vw;
    margin-right: 2.22222222vw;
    margin-bottom: 2.22222222vw;
    margin-left: 0vw;
    position: relative;
  }
  .container .wrap article.depth3.model-depth3 .photo-book ul li.on:after {
    content: '';
    display: block;
    width: 43.33333333vw;
    height: 58.33333333vw;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    background: rgba(0, 116, 129, 0.5);
  }
  .container .wrap article.depth3.model-depth3 .photo-book ul li img {
    width: 43.33333333vw;
    height: 58.33333333vw;
  }
  .container .wrap article.depth3.model-depth3 .photo-book ul li:nth-child(even) {
    margin-right: 0vw;
  }
  .container .wrap article.depth3.artist-depth3 {
    margin-top: 13.33333333vw;
  }
  .container .wrap article.depth3.artist-depth3 .visual {
    padding: 0vw;
    height: auto;
    max-height: unset;
  }
  .container .wrap article.depth3.artist-depth3 .visual .profile {
    padding-top: 8.33333333vw;
    padding-right: 5.55555556vw;
    padding-bottom: 5.55555556vw;
    padding-left: 5.55555556vw;
    margin-bottom: 0vw;
  }
  .container .wrap article.depth3.artist-depth3 .visual .profile h2 {
    margin-bottom: 0vw;
  }
  .container .wrap article.depth3.artist-depth3 .visual-swiper {
    height: 116.38888889vw;
  }
  .container .wrap article.depth3.artist-depth3 .visual-swiper .swiper-slide img {
    width: 88.88888889vw;
    height: 116.38888889vw;
  }
  .container .wrap article.depth3.artist-depth3 .history {
    padding-top: 5.55555556vw;
    padding-right: 5.55555556vw;
    padding-bottom: 0vw;
    padding-left: 5.55555556vw;
    box-sizing: border-box;
    text-align: left;
  }
  .container .wrap article.depth3.artist-depth3 .history .tit {
    font-size: 6.66666667vw;
    line-height: 8.66666667vw;
    font-weight: 800;
    color: #007481;
    margin-bottom: 1.11111111vw;
  }
  .container .wrap article.depth3.artist-depth3 .history .txt {
    margin-bottom: 11.11111111vw;
  }
  .container .wrap article.depth3.artist-depth3 .history .txt p {
    font-size: 3.88888889vw;
    line-height: 5.44444444vw;
    letter-spacing: -0.01em;
    font-weight: 300;
  }
  .container .wrap article .videos {
    padding-top: 5.55555556vw;
    padding-right: 5.55555556vw;
    padding-bottom: 5.55555556vw;
    padding-left: 5.55555556vw;
    margin-top: 13.33333333vw;
  }
  .container .wrap article .videos .content iframe {
    width: 88.88888889vw;
    height: 50vw;
    display: block;
    margin-bottom: 2.22222222vw;
  }
  .container .wrap article .videos .content p {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
  }
  .container .wrap article .videos .content p.tit {
    font-size: 3.88888889vw;
    line-height: 5.05555556vw;
    font-weight: 800;
    margin-bottom: 0.55555556vw;
    -webkit-line-clamp: 1;
  }
  .container .wrap article .videos .content p.txt {
    font-size: 3.33333333vw;
    line-height: 4.66666667vw;
    margin-bottom: 8.33333333vw;
    font-weight: 300;
    -webkit-line-clamp: 2;
  }
  .container .wrap article .more a p {
    font-size: 3.88888889vw;
    line-height: 5.05555556vw;
    letter-spacing: -0.01em;
    margin-bottom: 2.77777778vw;
  }
  .container .wrap article .more a img {
    width: 4.16666667vw;
    height: 6.11111111vw;
  }
  .container .wrap article .now {
    padding-top: 5.55555556vw;
    padding-right: 5.55555556vw;
    padding-bottom: 16.66666667vw;
    padding-left: 5.55555556vw;
    margin-top: 13.33333333vw;
  }
  .container .wrap article .now .list li {
    position: relative;
  }
  .container .wrap article .now .list li.on {
    background: rgba(0, 116, 129, 0.5);
  }
  .container .wrap article .now .list li img {
    margin-bottom: 0vw;
  }
  .container .wrap article .now .list li .prof {
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    background-color: #007481;
    width: 100%;
    height: 100%;
    display: none;
  }
  .container .wrap article .now .more {
    margin-top: 8.33333333vw;
  }
  .container .wrap article .contact {
    padding: 5.55555556vw;
    margin-top: 13.33333333vw;
  }
  .container .wrap article .contact .map {
    width: 88.88888889vw;
    height: 88.88888889vw;
    margin-bottom: 8.33333333vw;
  }
  .container .wrap article .contact .map img {
    width: 100%;
    height: 100%;
  }
  .container .wrap article .contact p {
    text-align: left;
  }
  .container .wrap article .contact p.tit {
    font-size: 8.33333333vw;
    line-height: 8.33333333vw;
    font-weight: 800;
    margin-bottom: 2.77777778vw;
  }
  .container .wrap article .contact p.txt {
    font-size: 3.88888889vw;
    line-height: 5.44444444vw;
    letter-spacing: -0.01em;
    font-weight: 300;
    margin-bottom: 8.33333333vw;
  }
  .container .wrap article .contact .info-wrap {
    position: relative;
  }
  .container .wrap article .contact .info-wrap form .cont {
    font-size: 0vw;
    text-align: left;
    margin-bottom: 6.38888889vw;
    position: relative;
  }
  .container .wrap article .contact .info-wrap form .cont p,
  .container .wrap article .contact .info-wrap form .cont input,
  .container .wrap article .contact .info-wrap form .cont textarea {
    font-size: 3.88888889vw;
    line-height: 5.05555556vw;
    letter-spacing: -0.01em;
    font-weight: 500;
    color: #868686;
    border: 0;
    border-bottom: 1px solid #868686;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 1.66666667vw;
    padding-bottom: 1.66666667vw;
  }
  .container .wrap article .contact .info-wrap form .cont p s,
  .container .wrap article .contact .info-wrap form .cont input s,
  .container .wrap article .contact .info-wrap form .cont textarea s {
    color: #EC3E20;
  }
  .container .wrap article .contact .info-wrap form .cont p {
    width: 16.66666667vw;
  }
  .container .wrap article .contact .info-wrap form .cont input {
    width: 100%;
  }
  .container .wrap article .contact .info-wrap form .cont textarea {
    height: 5.05555556vw;
    width: 100%;
    font-family: Pretendard, sans-serif;
  }
  .container .wrap article .contact .info-wrap form .cont span {
    font-size: 3.33333333vw;
    color: #EC3E20;
    position: absolute;
    left: 0vw;
    bottom: -4.16666667vw;
    right: auto;
    top: auto;
    display: none;
  }
  .container .wrap article .contact .info-wrap form .cont.err p,
  .container .wrap article .contact .info-wrap form .cont.err input,
  .container .wrap article .contact .info-wrap form .cont.err textarea {
    border-bottom: 1px solid #EC3E20;
  }
  .container .wrap article .contact .info-wrap form .cont.err span {
    display: block;
  }
  .container .wrap article .contact .info-wrap form .cont.cont1 s {
    font-size: 3.33333333vw;
    color: #EC3E20;
    position: absolute;
    left: 11.66666667vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    display: inline-block;
    z-index: 1;
  }
  .container .wrap article .contact .info-wrap form .cont.cont2 s {
    left: 12.22222222vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap article .contact .info-wrap form .cont.t-hide s {
    display: none;
  }
  .container .wrap article .contact .info-wrap form input::-webkit-outer-spin-button,
  .container .wrap article .contact .info-wrap form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .container .wrap article .contact .info-wrap label {
    display: block;
  }
  .container .wrap article .contact .info-wrap label input[type=checkbox] + i {
    width: 5vw;
    height: 5vw;
    background-repeat: no-repeat;
    background-image: url('../img/mo/chk.svg');
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  .container .wrap article .contact .info-wrap label input[type=checkbox]:checked + i {
    width: 5vw;
    height: 5vw;
    background-color: #007481;
  }
  .container .wrap article .contact .info-wrap label input[type=checkbox]:checked + i:after {
    content: '';
    display: block;
    width: 5vw;
    height: 5vw;
    background-repeat: no-repeat;
    background-image: url('../img/mo/chkd.svg');
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
  }
  .container .wrap article .contact .info-wrap label input {
    display: none;
  }
  .container .wrap article .contact .info-wrap label s {
    font-size: 3.88888889vw;
    line-height: 5.05555556vw;
    letter-spacing: -0.01em;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2.77777778vw;
  }
  .container .wrap article .contact .info-wrap .submit {
    font-size: 3.88888889vw;
    font-weight: 500;
    letter-spacing: -0.01em;
    padding-top: 2.77777778vw;
    padding-right: 6.66666667vw;
    padding-bottom: 2.77777778vw;
    padding-left: 6.66666667vw;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5.27777778vw;
    margin-top: 8.33333333vw;
    z-index: 1;
  }
  .container .wrap article .contact .info-wrap .submit.on {
    color: #fff;
    background-color: #000;
  }
  .container .wrap article .contact .info-wrap .agree-chk {
    font-size: 3.88888889vw;
    color: #fff;
    font-weight: 800;
    width: 100%;
    text-align: center;
    padding-top: 4.16666667vw;
    padding-right: 0vw;
    padding-bottom: 4.16666667vw;
    padding-left: 0vw;
    box-sizing: border-box;
    border-radius: 2.77777778vw;
    background-color: #000;
    opacity: 0;
    white-space: nowrap;
    position: absolute;
    left: 0vw;
    bottom: 0vw;
    right: auto;
    top: auto;
    visibility: hidden;
    transition: opacity 0.2s;
  }
  .container .wrap article .contact .info-wrap.kr-info form .cont.cont1 s {
    left: 8.33333333vw;
  }
  .container .wrap article .contact .info-wrap.kr-info form .cont.cont2 s {
    left: 19.44444444vw;
  }
  .container .wrap article .contact .info-wrap.kr-info .agree-chk {
    bottom: -23.61111111vw;
  }
  .container .wrap article .contact .info-wrap.chk-agree .submit {
    opacity: 0;
  }
  .container .wrap article .contact .info-wrap.chk-agree .agree-chk {
    visibility: visible;
    opacity: 0.8;
  }
  .container .wrap article .contact .co-info {
    margin-top: 11.11111111vw;
    text-align: left;
  }
  .container .wrap article .contact .co-info p {
    font-size: 3.33333333vw;
    line-height: 4.66666667vw;
    letter-spacing: -0.012em;
    font-weight: 300;
  }
  .container .wrap article .contact .co-info p s {
    font-weight: 800;
    color: #007481;
  }
  .container .wrap article.xr .visual {
    padding-top: 0vw;
    padding-bottom: 0vw;
    max-height: 222.22222222vw;
  }
  .container .wrap article.xr .visual .v-inner {
    z-index: 2;
    margin-top: 0vw;
  }
  .container .wrap article.xr .visual .v-inner p {
    font-size: 11.11111111vw;
    line-height: 12.22222222vw;
    font-weight: 800;
    color: #fff;
  }
  .container .wrap article.xr .visual .v-inner p:nth-child(1) {
    font-size: 11.11111111vw;
    line-height: 12.22222222vw;
    font-weight: 800;
    padding-left: 5.55555556vw;
  }
  .container .wrap article.xr .visual .v-inner p:nth-child(2) {
    font-size: 11.11111111vw;
    line-height: 12.22222222vw;
    font-weight: 800;
    padding-left: 5.55555556vw;
    color: #fff;
  }
  .container .wrap article.xr .visual .v-inner p:nth-child(3) {
    font-size: 11.11111111vw;
    line-height: 12.22222222vw;
    font-weight: 800;
    padding-left: 5.55555556vw;
    color: #007481;
    background: none;
    width: auto;
    height: auto;
    margin: 0vw;
  }
  .container .wrap article.xr .visual .v-inner p.txt {
    font-size: 4.44444444vw;
    line-height: 5.77777778vw;
    letter-spacing: -0.01em;
    font-weight: 300;
    margin-top: 2.77777778vw;
  }
  .container .wrap article.xr .visual .down {
    margin-top: 58.33333333vw;
  }
  .container .wrap article.xr .visual .dim {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    background-color: #000;
    opacity: 0.8;
    z-index: 1;
  }
  .container .wrap article.xr section {
    padding-top: 16.11111111vw;
    padding-right: 5.55555556vw;
    padding-bottom: 0vw;
    padding-left: 5.55555556vw;
  }
  .container .wrap article.xr section p.tit {
    font-size: 6.66666667vw;
    line-height: 7.33333333vw;
    font-weight: 800;
    margin-bottom: 1.11111111vw;
  }
  .container .wrap article.xr section p.txt {
    font-size: 4.44444444vw;
    line-height: 6.22222222vw;
    font-weight: 300;
    letter-spacing: -0.01em;
    margin-bottom: 2.77777778vw;
  }
  .container .wrap article.xr section img {
    width: 88.88888889vw;
    height: 56.11111111vw;
  }
  .container .wrap article.xr .sec2 img {
    margin-bottom: 8.33333333vw;
  }
  .container .wrap article.xr .sec2 .stage {
    display: none;
  }
  .container .wrap article.xr .sec3 {
    padding-left: 0vw;
    padding-right: 0vw;
  }
  .container .wrap article.xr .sec3 p {
    padding-top: 0vw;
    padding-right: 5.55555556vw;
    padding-bottom: 0vw;
    padding-left: 5.55555556vw;
    box-sizing: border-box;
  }
  .container .wrap article.xr .sec3 .video {
    width: 100vw;
    margin-top: 5.55555556vw;
  }
  .container .wrap article.xr .sec3 .video .vid {
    width: 100%;
  }
  .container .wrap article.xr .sec4 {
    padding-bottom: 8.33333333vw;
  }
  .container .wrap article.xr .sec4 .tit {
    font-size: 8.33333333vw;
    line-height: 8.33333333vw;
    color: #007481;
    margin-bottom: 5.55555556vw;
  }
  .container .wrap article.xr .sec4 .sub-tit {
    font-size: 5vw;
    line-height: 5.5vw;
    font-weight: 800;
    margin-bottom: 1.66666667vw;
  }
  .container .wrap article.xr .sec4 .txt {
    font-size: 3.88888889vw;
    line-height: 5.44444444vw;
    letter-spacing: -0.01em;
    font-weight: 300;
    margin-bottom: 13.88888889vw;
  }
  .container .wrap article.xr .sec4 .vid {
    margin-bottom: 2.77777778vw;
  }
  .container .wrap article.xr .sec4 iframe,
  .container .wrap article.xr .sec4 video {
    width: 88.88888889vw;
    height: 54.72222222vw;
  }
  .container .wrap article.xr .sec4 img {
    margin-bottom: 2.77777778vw;
  }
  .container .wrap .bottom {
    width: 100vw;
    height: 125vw;
    padding-top: 43.61111111vw;
    box-sizing: border-box;
    text-align: center;
    background: transparent;
  }
  .container .wrap .bottom .quo.mo {
    width: 7.77777778vw;
    height: 5.83333333vw;
    display: inline-block;
    margin-bottom: 2.77777778vw;
  }
  .container .wrap .bottom .quo.web {
    display: none;
  }
  .container .wrap .bottom p {
    color: #fff;
  }
  .container .wrap .bottom p:nth-of-type(1) {
    font-size: 6.66666667vw;
    line-height: 8.66666667vw;
    font-weight: 800;
    margin-bottom: 1.11111111vw;
  }
  .container .wrap .bottom p:nth-of-type(2) {
    font-size: 5vw;
    line-height: 6.5vw;
    font-weight: 200;
  }
  .container .wrap .para {
    width: 100vw;
    height: 125vw;
    background-repeat: no-repeat;
    background-image: url('../img/mo/bottom.png');
    background-size: contain;
    box-sizing: border-box;
    text-align: center;
    position: fixed;
    left: 0vw;
    bottom: 0vw;
    right: auto;
    top: auto;
    z-index: -1;
  }
  .container .wrap .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    z-index: 10;
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .container .wrap .popup .dim {
    position: fixed;
    background: rgba(0, 0, 0, 0.85);
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
  }
  .container .wrap .popup .popup-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
  }
  .container .wrap .popup .popup-inner img {
    width: 83.33333333vw;
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */